{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% load static %}

{% block content %}
    <!-- Image Section with Overlapping Text -->
    <div class="relative bg-gray-800 group">
        <!-- Static Text Layer -->
        <div class="transition ease-in-out absolute inset-0 flex text-red-500 justify-center items-center group-hover:text-blue-500 group-hover:mix-blend-multiply group-hover:translate-y-10 text-6xl sm:text-8xl md:text-9xl lg:text-[15rem]">
            WHO AM I?
        </div>
        <!-- Hoverable Text Layer -->
        <div class="transition ease-in-out absolute inset-0 flex text-red-500 justify-center items-center group-hover:text-white group-hover:mix-blend-multiply group-hover:-translate-y-10 text-6xl sm:text-8xl md:text-9xl lg:text-[15rem]">
            <p>WHO AM I?</p>
        </div>
        <!-- Background Image -->
        <img src="{% static 'images/image anko3.png' %}" alt="About Me Image" class="w-full h-auto">
    </div>
    <!-- About Section -->
    <div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
        <div class='m-6'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>
                About Me
            </p>
            
            <p class='text-justify leading-relaxed'>
                &#128075; Hi,<br><br>
                
                I am Ansar Ibrahim, a passionate and dedicated Maldivian footballer, driven by my love for the game and my desire to represent my country at the highest level. Since my early years, football has been more than just a sport to me; it's been a way of life. Over the course of my career, I have had the privilege of playing for various clubs in the Maldivian league, where I have honed my skills and developed into a versatile and reliable player.
                <br><br>
                Throughout my journey, I have also had the honor of wearing the national jersey, representing the Maldives in international competitions. With every match, I strive to push my limits, aiming to contribute not just to my team's success but to the growing football scene in our country.
                <br><br>
                Off the field, I believe in giving back to the community by inspiring the next generation of athletes. Whether through youth coaching or participating in local initiatives, I aim to use football as a tool to bring people together and promote a healthy, active lifestyle.
                <br><br>
                Football has taught me resilience, teamwork, and the importance of discipline—values that guide me both on and off the pitch. As I continue my career, I remain committed to improving my game and contributing to the future of Maldivian football.
            </p>
        </div>
    </div>

{% endblock %}

    <style>
                
                .progress-bar {
            animation: progress-bar-animation 1s normal forwards;
        }
        @keyframes progress-bar-animation {
            0%   {  width: 0%; }
            100% {  width: 100%; }
        }
        .html {
            animation: html-animation 3s normal forwards;
        }
        @keyframes html-animation {
            0%   {  width: 0%; }
            100% {  width: 95%; }
        }
        .css {
            animation: css-animation 3s normal forwards
        }
        @keyframes css-animation {
            0%   {  width: 0%; }
            100% {  width: 85%; }
        }
        .js {
            animation: js-animation 3s normal forwards
        }
        @keyframes js-animation {
            0%   {  width: 0%; }
            100% {  width: 70%; }
        }
        .py {
            animation: py-animation 3s normal forwards
        }
        @keyframes py-animation {
            0%   {  width: 0%; }
            100% {  width: 90%; }
        }
        .sql {
            animation: sql-animation 3s normal forwards
        }
        @keyframes sql-animation {
            0%   {  width: 0%; }
            100% {  width: 80%; }
        }
    </style>


    {% comment %} <script>
        let html_progress = 0;
        let html_invervalSpeed = 10;
        let html_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let html_bar = document.querySelector('.html');
            html_progressInterval = setInterval(function(){
            html_progress += html_incrementSpeed;
            html_bar.style.width = html_progress + "%";
            if(html_progress >= 95){
                clearInterval(html_progressInterval);
            }
        }, html_invervalSpeed);
    });

        let css_progress = 0;
        let css_invervalSpeed = 10;
        let css_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let css_bar = document.querySelector('.css');
            css_progressInterval = setInterval(function(){
            css_progress += css_incrementSpeed;
            css_bar.style.width = css_progress + "%";
            if(css_progress >= 80){
                clearInterval(css_progressInterval);
            }
        }, css_invervalSpeed);
    });

        let js_progress = 0;
        let js_invervalSpeed = 10;
        let js_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
            let js_bar = document.querySelector('.js');
            js_progressInterval = setInterval(function(){
            js_progress += js_incrementSpeed;
            js_bar.style.width = js_progress + "%";
            if(js_progress >= 60){
                clearInterval(js_progressInterval);
            }
        }, js_invervalSpeed);
    });

    let py_progress = 0;
    let py_invervalSpeed = 10;
    let py_incrementSpeed = 1;
    document.addEventListener("DOMContentLoaded", function(){
        let py_bar = document.querySelector('.py');
        py_progressInterval = setInterval(function(){
        py_progress += py_incrementSpeed;
        py_bar.style.width = py_progress + "%";
        if(py_progress >= 80){
            clearInterval(py_progressInterval);
        }
    }, py_invervalSpeed);
});

    let sql_progress = 0;
    let sql_invervalSpeed = 10;
    let sql_incrementSpeed = 1;
        document.addEventListener("DOMContentLoaded", function(){
        let sql_bar = document.querySelector('.sql');
        sql_progressInterval = setInterval(function(){
        sql_progress += sql_incrementSpeed;
        sql_bar.style.width = sql_progress + "%";
        if(sql_progress >= 85){
            clearInterval(sql_progressInterval);
        }
    }, sql_invervalSpeed);
});

    </script> {% endcomment %}
</div>

